body{
    font-family: AppleGothic, "Century Gothic", Muli, "Avant Garde", sans-serif;
	background-image: url("at_last.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	background-colour: #66CCFF;}

h1, h2 {
    font-family: AppleGothic, "Century Gothic", Muli,"Avant Garde", sans-serif; margin: 0;} 
h1{
    border-bottom: 2px solid #eee; }
h2{
    font-size: 1.2em; }

html		{height: 100%;}

/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #00FF00;
}

/* selected link */
a:active {
    color: #00FF00;
}

a:hover, a:visited, a:link, a:active{
    text-decoration:none
}

.menu{
    display:block;
    width:400px;
    height:400px;
    /*border: 8px solid #FFFFFF;*/
    border-radius:50%;
    /*font-size:40px;
    color:#fff;
    line-height:400px;
    text-align:center;
    text-decoration:none;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /*white-space: pre;
    line-height: 0.9;*/
    top: 20%;
    left: 0;
    right: 0;
    /*padding-top: 50%;*/
    background: radial-gradient(#33CCCC,#FFFFFF);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
    
.menu:hover{
     -webkit-transform: scale(1.1,1.1);
     -moz-transform:scale(1.1,1.1);
     cursor:pointer;
 }

#message_field {
    top: 50%;
    -moz-transform:translateY(-50%);
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    font-size:40px;
    position:relative;
    color:#fff;
    text-align:center;
    line-height:70px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


#header {
    background-color: #0066CC;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

#header #header-content {
    margin: 10px;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
